<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>AnimeEZ! - Watch anime without ads</title>
  <script src="https://cdn.tailwindcss.com"></script>
<link rel="icon" type="image/png" href="/images/favicon.png">
 <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="/" class="logo">
        <img src="/images/logo.svg" alt="AnimeEZ logo" width="169" height="100">
      </a>

      <div class="header-actions">
      

       <li class="search-bar">
						<form action="/search" style="display: flex;">
							<div id="searchx" class="searchx auto-complete form-inline animate-me">
						    <input placeholder="Search.." name="keyword" type="text" required/>
            <button type="submit" class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
            </button>
              </div>
          </form>
				
									
          </li>
          <a class="searcho" id="searcho" onclick="mobile()">
							<button type="submit" class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
            </button>
						</a>
          
        
      

      

        

      </div>

      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="/" class="logo">
            <img src="/images/logo.svg" alt="AnimeEZ logo">
          </a>

          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

         
          
        </div>

        <ul class="navbar-list">
 <li id="search-bar-mob">
						<form action="/search">
							<div id="searchxx" class="searchxx auto-complete form-inline animate-me" style="display: flex;">
						    <input placeholder="Search.." name="keyword" type="text" required/>
            <button type="submit" class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
            </button>
              </div>
          </form>
				
									
          </li>
          <li>
            <a href="/" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="/movies" class="navbar-link">Movie</a>
          </li>

          <li>
            <a href="/tv-shows" class="navbar-link">Tv Show</a>
          </li>

         

        </ul>

       
      </nav>

    </div>
  </header>
